@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

/* glob */

:root {
  --orange: #FF9900;
  --dark-orange: #E1670E;
  --dark-grey: #333333;
  --blond: #FFFFFF;
  --light-orange: #F7B045;
  --light-grey: #CACACA;
  --grey: #666666;
}

section {
  margin-bottom: 100px;
}

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  outline: none;
}

.flex {
  display: flex;
}

.container {
  position: relative;
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-offset {
  margin-bottom: 100px;
}

.info-descr {
  margin: 0;
}

.page__body {
  overflow-x: hidden;
}

/* header */

.header {
  height: 100px;
  background-color: var(--blond);
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__box {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 14px;
  align-items: center;
  justify-content: space-between;
}

.burger {
  bottom: 0;
  position: relative;
  width: 30px;
  height: 23px;
  padding: 0;
  display: none;
  cursor: pointer;
}

.burger:active {
  stroke: #E1670E;
  transition: color 0.3s ease-in-out;
}

.burger:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.header__logo {
  outline: none;
  margin-right: auto;
}

.header__nav {
  align-items: center;
}

.header__list__item {
  margin-right: 85px;
}

.header__link {
  outline: none;
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-grey);
}

.header__link:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:active::after {
  opacity: 1;
  background-color: var(--dark-orange);
}

.header__link:active {
  color: var(--dark-orange);
  outline: none;
  transition: color 0.3s ease-in-out;
}

.loop {
  stroke: var(--dark-grey);
  cursor: pointer;
}

.form__header {
  position: absolute;
  right: 0;
  display: none;
  flex-direction: row;
  outline: none;
  border-radius: 16px;
  background-color: #FFFFFF;
  z-index: 5;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
  color: #ADADAD;
  width: 539px;
  height: 60px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-top: 16px;
  align-items: center;
  opacity: 0;
  max-width: 100%;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
}

.formHeader--active {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s, visibility 0s;
}

.poisk {
  outline: none;
  width: 412px;
  padding-bottom: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #DCDCDC;
  margin-right: 14px;
}

.poisk:focus {
  cursor: pointer;
  outline-offset: 5px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.form__loop {
  stroke: var(--orange);
  margin-right: 20px;
  cursor: pointer;
}

.form__loop:focus {
  outline-offset: 4px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.closed {
  cursor: pointer;
  stroke: #999999;
}

.closed:focus {
  outline-offset: 4px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.closed:hover {
  stroke: var(--orange);
  transition: color 0.3s ease-in-out;
}

.closed:active {
  stroke: var(--dark-grey);
  transition: color 0.3s ease-in-out;
}

.loop:focus {
  outline-offset: 4px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.loop:hover {
  stroke: var(--orange);
  transition: color 0.3s ease-in-out;
}

/* hero */

.swiper__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  align-items: stretch;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}

.swiper__pagination {
  position: absolute;
  text-align: center;
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.4);
}

.swiper-slide {
  flex-shrink: 0;
  height: 100%;
  position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px;
}

.swiper-horizontal>.swiper-pagination-bullets
.swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
.swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet-active {
  background-color: var(--blond);
}

.hero__fon__1 {
  background-image: url('../img/hero.jpg');
  background-size: cover;
}

.hero__fon__2 {
  background-image: url('../img/pic_1.jpg');
  background-size: cover;
}

.hero__fon__3 {
  background-image: url('../img/pic_2.jpg');
  background-size: cover;
}

.hero__content {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 5;
}

.main__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: var(--blond);
}

.hero__descr {
  max-width: 837px;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--blond);
}

.hero__btn {

  font-weight: 700;
  font-size: 23.5px;
  line-height: 29px;
  padding: 25px 37px;
  background-color: var(--orange);
  color: var(--blond);
  transition: color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: hsla(36, 100%, 50%, 0.7);
}

.hero__btn:hover {
  background-color: hsla(36, 100%, 50%, 0.7);
}

.hero__btn:active {
  background-color: var(--dark-orange);
}

.hero__bullit {
  outline: none;
  justify-content: center;
}

.bullit {
  width: 15px;
  height: 15px;
}

.btn__bullit:not(:last-child) {
  margin-right: 20px;
}

/* info */

.section__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--dark-grey);
}

.info__section__title {
  margin-bottom: 20px;
}

.info__descr {
  max-width: 1235px;
  margin-bottom: 49px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-grey);
}

.special__blok {
  display: flex;
  flex-direction: column;
}

.special__blok:not(:last-child) {
  margin-right: 32px;
}

.special__blok__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-grey);
}

.item__left {
  width: 49%;
  padding-top: 426px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column-reverse;
  flex: 1;
}

.photo__1 {
  background-image: url('../img/photo-1.jpg');
}

.special__item {
  flex: 1;
}

.special__item:not(:last-child) {
  margin-bottom: 26px;
}

.special__item__left {
  padding: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.special__item__descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--blond);
  width: 454px;
  margin-right: auto;
}

.btn__info {
  color: var(--blond);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 19px 38px;
  border: 3px solid var(--orange);
  width: 175px;
  height: 60px;
  transition: color 0.3s ease-in-out;
}

.btn__info:focus {
  background-color: var(--orange);
  color: var(--blond);
}

.btn__info:hover {
  background-color: var(--orange);
  color: var(--blond);
}

.btn__info:active {
  background-color: var(--dark-orange);
  color: var(--blond);
  border: 3px solid var(--dark-orange);
}

.special__blok__right {
  width: 49%;
}

.item__right {
  border: 1px solid var(--light-grey);
  padding: 65px 111px 65px 300px;
  background-position: 60px 63px;
  background-repeat: no-repeat;
  background-size: 190px 165px;
}

.title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--dark-grey);
}

.frame__1 {
  background-image: url('../img/Frame\ 1.jpg');
}

.frame__2 {
  background-image: url("../img/Frame\ 2.jpg");
}

/* order */

.tabs-nav {
  margin-bottom: 40px;
}

.tabs-nav__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-grey);
}

.tabs-nav__btn:focus {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
}

.tabs-nav__btn:hover {
  color: var(--orange);
}

.tabs-nav__btn:active {
  color: var(--dark-orange);
  outline: none;
}

.tabs-nav__item:not(:last-child) {
  margin-right: 86px;
}

.order__section__title {
  margin-bottom: 50px;
}

.order__title {
  line-height: 32px;
}

.order__picture {
  width: 49%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 11px;
}

.tabs-content {
  display: none;
  justify-content: space-between;
}

.tabs-content--active {
  display: flex;
}

.order__blok {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--dark-grey);
  max-width: 758px;
  margin-bottom: auto;
}

.order__button__left {
  padding: 18px 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--blond);
  background-color: var(--orange);
  border: 1px solid var(--orange);
  margin-right: 27px;
  transition: color 0.3s ease-in-out;
}

.order__button__left:focus {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
}

.order__button__left:hover {
  background-color: var(--light-orange);
  border: 1px solid var(--light-orange);
}

.order__button__left:active {
  background-color: var(--dark-orange);
  border: 1px solid var(--dark-orange);
}

.order__button__right {
  padding: 18px 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-grey);
  background-color: var(--blond);
  border: 1px solid var(--dark-grey);
  transition: color 0.3s ease-in-out;
}

.order__button__right:focus {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--blond);
}

.order__button__right:hover {
  background-color: var(--grey);
  border: 1px solid var(--grey);
  color: var(--blond);
}

.order__button__right:active {
  background-color: #000000;
  border: 1px solid #000000;
  color: var(--blond);
}

/* questions */

.questions__section__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--dark-grey);
  margin-bottom: 45px;
}

.questions__item {
  outline: none;
  padding-top: 28px;
  padding-bottom: 29px;
  width: 100%;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--light-grey);
  margin-top: -1px;
  cursor: pointer;
}

.accordion {
  list-style: none;
}

.accordion__control {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: auto;
}

.questions__title {
  margin: 0;
  margin-right: auto;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--dark-grey);
}

.accordion__content {
  display: none;
  overflow: hidden;
  transition-property: height, visibility;
}


.accordion--active .accordion__content {
  display: block;
}

.accordion--active .accordion__icon {
  transform: rotate(45deg);
}

.accordion__text {
  max-width: 1003px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding-top: 30px;
}

.list {
  list-style: none;
}

.questions__item:first-child {
  border-top: 1px solid var(--light-grey);
}

.questions__svg {
  width: 50px;
  height: 50px;
  fill: #ECECEC;
  transition: fill 0.3s ease-in-out;
}

.questions__svg path {
  fill: var(--grey);
  transition: fill 0.3s ease-in-out;
}

.questions__item:hover {
  border-top: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.questions__item:hover .questions__title {
  color: var(--orange);
  transition: color 0.3s ease-in-out;
}

.questions__item:hover .questions__svg {
  fill: var(--orange);
  transition: fill 0.3s ease-in-out;
}

.questions__item:hover .questions__svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.questions__item:focus {
  border-top: 1px solid var(--orange);
  border-bottom: 1px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.questions__item:focus .questions__title {
  color: var(--orange);
  transition: color 0.3s ease-in-out;
}

.questions__item:focus .questions__svg {
  fill: var(--orange);
  transition: fill 0.3s ease-in-out;
}

.questions__item:focus .questions__svg path {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.questions__item:active {
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
  transition: color 0.3s ease-in-out;
}

.questions__item:active .questions__title {
  color: var(--dark-grey);
  transition: color 0.3s ease-in-out;
}

.questions__item:active .questions__svg {
  fill: #ECECEC;
  transform: rotate(45grad);
  transition: transform 0.3s;
}

.questions__item:active .questions__svg path {
  fill: var(--grey);
  transition: fill 0.3s ease-in-out;
}

/* footer */

.footer {
  background-color: #222222;
  padding-bottom: 50px;
  padding-top: 50px;
}

.blog__footer {
  justify-content: space-between;
}

.footer__info {
  width: 15%;
  margin-right: 19%;
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--light-grey);
}

.footer__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
  transition: outline 0.3s ease-in-out;
}

.footer__link:hover {
  color: var(--orange);
  transition: color 0.3s ease-in-out;
}

.footer__link:active {
  outline: none;
  color: var(--dark-orange);
  transition: color 0.3s ease-in-out;
}

.footer__icon svg {
  fill: #7C7C7C;
  stroke: #7C7C7C;
}

.footer__icon:focus svg {
  outline-offset: 5px;
  outline: 2px solid var(--orange);
  transition: color 0.3s ease-in-out;
}

.footer__icon:hover svg {
  fill: var(--orange);
  stroke: var(--orange);
  transition: fill 0.3s ease-in-out;
}

.footer__icon:active svg {
  fill: var(--dark-orange);
  stroke: var(--dark-orange);
  outline: none;
  transition: fill 0.3s ease-in-out;
}

.footer__icon {
  outline: none;
}

.blog__footer__item:not(:last-child) {
  margin-right: 25px;
}

.footer__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--light-grey);
  margin-bottom: 25px;
}

.footer__input {
  flex-direction: column;
  width: 32%;
  margin-right: 13%;
}

.form__input {
  outline: none;
  background-color: #414141;
  color: var(--light-grey);
  max-width: 570px;
  height: 60px;
  padding-left: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  transition: color 0.3s ease-in-out;
}

.form__input:focus {
  background-color: var(--grey);
  transition: background-color 0.3s ease-in-out;
}

.form__input:hover {
  background-color: var(--grey);
  transition: background-color 0.3s ease-in-out;
}

.form__input:active {
  background-color: var(--grey);
  transition: background-color 0.3s ease-in-out;
}

.form__input {
  margin-bottom: 25px;
}

.form__input__message {
  height: 150px;
  margin-bottom: 32px;
}

.form__button {
  display: flex;
  align-items: center;
}

.form-btm {
  padding: 19px 52px;
  background-color: var(--orange);
  color: var(--blond);
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.checklink {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-grey);
}

.footer__descr {
  width: 21%;
  padding-top: 87px;
  padding-bottom: 87px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--light-grey);
}

.icon {
  width: 60px;
  height: 60px;
}
